<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reign Supreme | Power to the People</title>
    <meta name="description" content="Reign Supreme is a conglomerate whose multitude of endeavors aim to help you elevate yourself and elevate your wealth.  We operate under the single premise that once we as a community combine our resources, we can rule the world." />
    <meta name="keywords" content="community 'wealth building' 'financial freedom' crowdfund" />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" /> 
    
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Reign Supreme"/>
    <meta property="og:description" content="Reign Supreme encompasses a multitude of endeavors aimed to help us elevate ourself and our wealth.  We operate under the single premise that once we as a community combine our resources, we can rule the world."/>
    <meta property="og:url" content="https://reignsupremex.com/"/>
    <meta property="og:site_name" content="Reign Supreme" />
    <meta property="og:image" content="/static/img/crown.png" />
    <base href="/"/>

    <!--
    <link rel="canonical" href=""/>
    -->
    <link rel="icon" href="/static/img/favicon.ico"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
 


  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <!--<link href="css/agency.min.css" rel="stylesheet">-->
  <link href="/static/css/agency.css" rel="stylesheet">
 
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <!--<a class="navbar-brand js-scroll-trigger" href="#page-top">Reign Supreme</a>-->
      <img class="navbar-brand js-scroll-trigger" src="/static/img/reignsupreme_logo_small.png" alt="">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars fa-lg"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Porfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading text-uppercase">Reign Supreme</div>
        <div class="intro-lead-in">Are You Ready?</div>
      </div>
    </div>
  </header>

  <!-- Intro -->
  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3 class="section-subheading text-muted">
            <p>
              Reign Supreme encompasses a multitude of endeavors aimed to help us elevate ourself and our wealth.  We operate under the single premise that once we as a community combine our resources, we can rule the world. 
            </p>
          </h3>
            <a class="btn btn-primary btn-lg js-scroll-trigger" href="#services">Show Me More </a>   
        </div>

      </div>
     </div>
    </div>
  </section>



  <!-- Services -->
  <section id="services">
    <div class="container">
      <div class="row" style="display: block;">
        <div class="col-xs-12 text-center">
          <h2 class="section-heading text-uppercase">Portfolio</h2>
        </div>
      </div>
      <div class="row text-center" style="display: block;">
        <div class="col-xs-12">
          <ul class="link-list">
            <li class="link-list-card" style="--accent-color:#f89419;--accent-width:6px;">
              <article class="team-member">
                  <img class="mx-auto rounded-circle" src="/static/img/african_diaspora_united.png" alt="">
                  <h3>African Diaspora United</h3>
                  <p>
                    African Diaspora United was created to mobilize the diaspora when any crisis arises that severely impacts anyone in the diaspora. It reduces friction when urgent aid is needed. In addition, it is a platform that inspires, connects, educates and promotes unity
                  </p>
              </article>
              <a href="https://africandiasporaunited.org/" class="btn btn-primary">see more</a>
            </li>
            <li class="link-list-card" style="--accent-color:#f89419;--accent-width:6px;">
              <article class="team-member">
                  <img class="mx-auto rounded-circle" src="/static/img/free_2reign.jpeg" alt="">
                  <h3>You Tube - free_2reign</h3>
                  <p>
                    I created a YouTube channel to share my journey as a real estate investor and as an entrepreneur.  I share my ups and downs, my mistakes, my heartache and disappointments, as well as my ultimate success.  My hope is to inspire others to continue to push on no matter the obstacles you may face.
                  </p>
              </article>
              <a href="https://www.youtube.com/channel/UClmy4krWCEN-NcYKxqVHpDQ" class="btn btn-primary">see more</a>
            </li>
            <li class="link-list-card" style="--accent-color:#f89419;--accent-width:6px;">
              <article class="team-member">
                  <img class="mx-auto rounded-circle" src="/static/img/lienloft.png" alt="">
                  <h3>Lien Loft</h3>
                  <p>
                    Because I had so much success obtaining real estate by purchasing tax liens, I decided to create a business around it.  But as time passed, I began to see more of us being priced out of the market and not able to purchase anything.  So I decided to pivot the business to one in which we investors all come together and pool resources and win together. This is how we win.
                  </p>
              </article>
              <a href="https://lienloft.com" class="btn btn-primary">see more</a>
            </li>
            <li class="link-list-card" style="--accent-color:#f89419;--accent-width:6px;">
              <article class="team-member">
                  <img class="mx-auto rounded-circle" src="/static/img/lienloft_alfreda.jpg" alt="">
                  <h3>Lien Loft - You Tube</h3>
                  <p>
                    In this channel, for those interested in learning how to invest in tax sales, I provide insight on the in and outs.  I have provided a full fledged training course on the Lien Loft website that is absolutely free.  We don't want to make money off you.  We want to make money <i>with</i> you.
                  </p>
              </article>
              <a href="https://www.youtube.com/channel/UCCJ-6BsG9O6LgRk_2ez2GNQ" class="btn btn-primary">see more</a>
            </li>
            <li class="link-list-card" style="--accent-color:#f89419;--accent-width:6px;">
              <article class="team-member">
                  <img class="mx-auto rounded-circle" src="/static/img/we_win_all_in.png" alt="">
                  <h3>We Win All In</h3>
                  <p> 
                    This endeavor is in the ideation phase.  It expands on what Lien Loft does with tax sale investing.  It will allow a greater number of us to invest in any and all types of real estate, but do so as a community of investors. To crowdfund our investments.  For far too long we have operated in individual silos, only making average success. Now is the time for world changing success. The way we do that is together. <br> We Win All In
                  </p>
              </article>
            </li>
            <li class="link-list-card" style="--accent-color:#f89419;--accent-width:6px;">
              <article class="team-member">
                  <img class="mx-auto rounded-circle" src="/static/img/owners_box.png" alt="">
                  <h3>The Owners Box</h3>
                  <p>
                    I came up with this idea after seeing so many people work so hard for companies like Uber and InstaCart, making pennies while these companies make millions and millions of dollars.  Instead of slaving ourselves away, we need to own our labor and own the businesses that we provide value to.  We need to be the ones sitting in the owners box.  The Owners Box will provide a way to "crowd build" entire business that we as a world wide community both operate and own.
                  </p>
              </article>
            </li>
            <li class="link-list-card" style="--accent-color:#f89419;--accent-width:6px;">
              <article class="team-member">
                  <img class="mx-auto rounded-circle" src="/static/img/team_we_up.png" alt="">
                  <h3>Team We Up</h3>
                  <p>
                    Social media was supposed to help build friendships.  It has instead made us fill our circles with a bunch of fake friends and haters. In addition, it has made us feel lonier than we ever have in our lives.  We Team Up is a place where you can find an accountability partner.  Someone who is out here trying to accomplish the same goals that you're trying to accomplish.  Together you motivate each other and hold each other accountable for continuing to push those hurdles. Your fake friends don't want you to succeed, but your accountability partner has a vested interest in your success. 
                  </p>
              </article>
            </li>
            <li class="link-list-card" style="--accent-color:#f89419;--accent-width:6px;">
              <article class="team-member">
                  <img class="mx-auto" src="/static/img/deliver_unlimited.png" alt="">
                  <h3>Deliver Unlimited</h3>
                  <p>
                    With Covid wrecking havoc, more people are stuck in their homes and as such more people are having things delivered. Plus, the wait times for a delivery have increased dramatically. This is an excellent opportunity for for a delivery company to service this need.  It's also an excellent opportunity for the drivers who actually do the deliveries to actually own the business, to own their labor. Deliver Unlimited is still in the ideation phase, but the opportunity for this endeavor is ripe for the taking.
                  </p>
              </article>

              <p>
                <a class="" data-toggle="collapse" href="#bloomberg" role="button" aria-expanded="false" aria-controls="bloomberg">
                  Opportunity Awaits <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
              </p>
              <div class="collapse" id="bloomberg">
                <div>
                  <p style="margin-bottom: 10px;margin: 15px 0 5px 0;">Bloomberg:: FedEx Ground Delivery Becomes a Road to Riches for Contractors</p>
                  <p style="padding: 0 10px 0 10px;">
                    <i>
                      "Prices for routes have increased 50% in three years, but they still may bring returns of more than 20% a year. Patton predicts most contractors will see their sales double over the next three years. Typically, entrepreneurs can buy 10 FedEx routes for about $1.25 million.""
                    </i>
                  </article>
                </div>
              </div>              
            </li>

          </ul>
        </div>
     </div>
    </div>
  </section>

  <!-- Contact -->
  <section  id="psa">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">PSA: Regarding Cryptocurrencies</h2>
          <p class="section-subheading">
            If you happen to have not heard about or have not invested in cryptocurrencies, you are missing out on the opportunity of a lifetime.  You will never, ever get an opportunity like this again.  We have always been on the bottom looking up, struggling to catch up. 
          </p>
          <p class="section-subheading">
            You <b>must</b> go out and buy some crypto.  You can buy it from CashApp, from PayPal, from Coinbase or from Robinhood.  I recommend buying Ethereum, but you can also buy Bitcoin.  Even if you have no idea what it is or what it's used for or don't understand it, go out and buy some anyway.  Then research it later.  You don't want to wait until the prices explode. I made that mistake.
          </p>
          <p class="section-subheading">
            Watch <a href="https://www.youtube.com/channel/UClgJyzwGs-GyaNxUHcLZrkg">Invest Answers</a> on YouTube.  He is reputable and won't try to sell you anything.  Start with his first video and work your way back.  He'll teach you everything you need to know.  Also follow Raoul Pal on Twitter.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Holla Back</h2>
          <p class="section-subheading text-muted">We look forward to hearing from you!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-xs-0 col-md-2"></div>
              <div class="col-xs-12 col-md-8">
                <div class="form-group">
                  <input class="form-control" id="fullname" name="fullname" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="email" name="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class ="bchoice-radio">
                  <p>Which venture most intrigues you?</p>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="bchoice" id="bchoice-1" value="Lien Loft">
                    <label class="form-check-label" for="bchoice-1" style="margin: 0 0 10px 10px;">
                      Lien Loft
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="bchoice" id="bchoice-2" value="We Win All In">
                    <label class="form-check-label" for="bchoice-2" style="margin: 0 0 10px 10px;">
                      We Win All In
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="bchoice" id="bchoice-3" value="The Owners Box">
                    <label class="form-check-label" for="bchoice-3" style="margin: 0 0 10px 10px;">
                     The Owners Box
                    </label>
                  </div>                
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="bchoice" id="bchoice-3" value="Team We Up">
                    <label class="form-check-label" for="bchoice-3" style="margin: 0 0 10px 10px;">
                     Team We Up
                    </label>
                  </div>                
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="bchoice" id="bchoice-3" value="Deliver Unlimited">
                    <label class="form-check-label" for="bchoice-3" style="margin: 0 0 10px 10px;">
                     Deliver Unlimited
                    </label>
                  </div>                
                  
                </div>
                <div class="form-group">
                  <textarea class="form-control" id="message" name="message" placeholder="Tell us what you're feeling." ></textarea>
                </div>
              </div>
              <div class="col-xs-0 col-md-2"></div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary" type="submit">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="copyright">Copyright &copy; Reign Supreme 2021</span>
        </div>
      </div>
    </div>
  </footer>

 
  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="/static/js/jqBootstrapValidation.js"></script>
  <script src="/static/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/agency.min.js"></script>

</body>

</html>
